@font-face { font-family: DeltaruneFont; src: url('DeltaruneFont.woff2'); } 

html {
    height: 100%;
}
body {
    background: rgb(0,0,0);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: DeltaruneFont;
    font-size: 300%;
}
p {
    color: rgb(255, 255, 255);
    font-family: DeltaruneFont;
    font-size: 160%;
}
a {
    color: rgb(255, 255, 255);
    font-family: DeltaruneFont;
    font-size: 160%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center > * {
    margin: 10px 0; /* Adjust this value as needed to control vertical spacing */
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(255, 0, 0, 1) 0%, rgba(200, 0, 0, 1) 100%);
    text-decoration: none;
}

a.wacky {
	color: rgb(255, 255, 255);
    font-family: Comic Sans MS;
    font-size: 200%;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(255, 174, 201, 1) 0%, rgba(255, 241, 1, 1) 100%);
    text-decoration: none;
}